*.log

# By default unity supports Blender asset imports, *.blend1 blender files do not need to be commited to version control.
*.blend1
*.blend1.meta

*.fbx

# TouchDesigner backups
Backup/
*/Backup/
*.toe.autosave
*.toe~

*/CrashAutoSave.*
*.dmp

